/*-----------------------------------------------------------------------------------------FONTS START HERE-----*/
@font-face {
    font-family: 'latolight';
    src: url('../fonts/lato-light-webfont.woff2') format('woff2'),
         url('../fonts/lato-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'latolight';
    src: url('../fonts/lato-lightitalic-webfont.woff2') format('woff2'),
         url('../fonts/lato-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'sumanabold';
    src: url('../fonts/sumana-bold-webfont.woff2') format('woff2'),
         url('../fonts/sumana-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'sumanaregular';
    src: url('../fonts/sumana-regular-webfont.woff2') format('woff2'),
         url('../fonts/sumana-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/*---------------------------------------------------------------------------------CSS RESET------------------*/

body, html{
    font-size: 100%
    margin: 0 auto;
    padding: 0;
}

p, li{
    font-family: 'latolight', sans-serif;
    font-weight: 300;
    color: #808080;
    font-size: 1.2em;
    text-align: justify;
    line-height: 1.4;
}

h1{
    font-family: 'sumanabold', serif;
    font-size: 2em;
    text-align: center;
}

h2,h3{
    font-family: 'sumanaregular', serif;
    font-size: 1.6em;
    text-align: left;
}

span{
    font-style: : italic;
}

/*-------------------------------------------------------------------------------------MAIN NAV STARTS HERE-----*/

.top-bar {
    background-color: #fff;
}

.title-bar {
    background-color: white;
}

#moblogo {
    width: 20%;
    margin-left: 40%;
    max-width: 120px;
    min-width: 60px
}

#hamburger {
    display: block;
    width: 50px;
    float: right;
    background-color: white;
}

#mainNav {

    padding: 10px;
    background-color: white;
}

#mainNav ul {
    border: solid #ddd 1px;
    background-color: white;
    margin: 0;
}

#mainNav ul li {
    border: solid #eee 1px;
    background-color: white;
    display: block;
    text-align: center;
    padding: 10px;
}

#mainNav ul li:hover {
    background-color: #d4e1f7;
}

#mainNav ul li a {
    font-family: 'sumanaregular';
    color: #475a84;
    font-size: 1.2em;
}


/*--------------------------------------------------HOME BANNER STARTS HERE-----*/

#homebanner {
    background: url("../images/island2.jpg") center no-repeat;
    height: 700px;
}

#bannertext {
    padding: 70px 10px;
}

#bannertext h2 {
    font-family: 'sumanabold';
    text-align: center;
    color: white;
    font-size: 3em;
}

#bannertext h3 {
    font-family: 'sumanaregular';
    text-align: center;
    color: white;
    font-size: 40px;
}

#bannertext p {
    color: white;
    font-size: 1em;
}


/* ----------Small to Medium Screen Transition*//*640/16*/
@media screen and (min-width: 40em){
/*---------------RESET---------------*/


    /*----------Main Navigation----------*/

    #desklogo {
    width: 200px;
    margin-left: 10%;
    position: fixed;
    }

    #mainNav
    {
        height: 100px;
        margin-right: 10%;
    }

    #mainNav ul {
        background-color: white;
        border:none;
        margin-top: 50px;
    }

    #mainNav ul li {
        display: inline;
        margin-left: 30px;
        border: none;
    }

    #mainNav ul li:hover {
        background-color: #FFF;
    }

    #mainNav ul li a {
        font-family: 'sumanaregular';
        color: #475a84;
        font-size: 1em;
    }

    #mainNav ul li a:hover {
        font-family: 'sumanaregular';
        color: #b10004;
        background-color: none;
    }

    
/*------------------------------BANNER-------------------*/
    #mainbanner {
        background-size: 100%;
    }

    #bannertext {
        margin-top: 250px;
        margin-bottom: 200px;
    }
}

/*Medium to Large Screen Transition*//*1024/16*/
@media screen and (min-width: 64em)  {
/*---------------RESET---------------*/

/*---------------HEADER---------------*/
/*---------------FOOTER---------------*/

/*---------------ABOUT---------------*/

/*---------------DESIGN---------------*/


/*---------------CONTACT---------------*/


/*---------------PORTFOLIO PAGE---------------*/


}