
#galLightbox{
	display: inline-block;
	background-color: rgba(0,0,0,.9);
	padding: 10px;
	position: fixed;
	top: 0;
	width: 100%;
}

#lightboxExit p{
	display: inline-block;
	float: right;
	font-size: 1.5em;
	font-family: 'latobold';
	color: #fff;
}

#lightboxImg{
	display: inline-block;
	text-align: center;
	
}

#lightboxImg img{
	margin: 15px auto;
	max-height: 500px;
	min-width: 200px;
}

#lightboxDesc p{
	color: #fff;
	text-align: center;
}

#lightboxDesc p{
	font-style: italic;
}

#lphotoDesc{
	font-style: normal;
}

#lightboxCtrls p{
	margin-top: 40px;
	text-align: center;
	font-family: 'latoregular';
}

#lightboxCtrls a{
	color: #fff;
	font-family: 
}

/* ----------Small to Medium Screen Transition*//*640/16*/
@media screen and (min-width: 45em){

	#lightboxImg{
		width: 100%;
	}

	#lightboxImg img{
		height: 100%;
	}

	#lightboxExit{
		margin-right: 20px;
	}
}